/* BMP */


.monospace {
    font-family: monospace, monospace;
    font-size: 14px;
}

/*
a.bmp_power, a:link.bmp_power, a:active.bmp_power {
    color:gold; 
    font-weight:bold;
}

.bmp_power::after {
    content: '⚡️';
}
*/




/* lib/kickstart/css/kickstart-menus.css */
.menu{margin:0;padding:0;line-height:100%;font-size:0; position:relative;z-index:1000}
.menu:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
.menu li{margin:0;padding:0;list-style-type:none;display:inline-block;*display:inline;position:relative;zoom:1;line-height:inherit;top:0;left:0;font-size:16px}
.menu li a{margin:0;padding:0;display:block;display:inline;display:inline-block;position:relative;zoom:1;line-height:100%;top:0;left:0} 
.menu ul{margin:0;padding:0;position:absolute;top:100%;left:0;display:none;min-width:150px;max-width:150%;*width:150px}
.menu ul li{display:block;width:100%}
.menu ul li a{display:block}
.menu ul ul{top:0;left:100%} 
.menu ul li.divider{border-top:1px solid #ccc}
.menu ul li.divider a{border-top:1px solid #fff} 
.menu li.has-menu a{padding-right:25px}
.menu li.has-menu span.arrow{border-style:solid;border-width:5px;display:block;position:absolute;top:50%;right:5px;font-size:0;line-height:0;height:0;width:0}
.menu li li.has-menu span.arrow{margin-top:-4px} 
.menu.vertical{}.menu.vertical li{display:block}
.menu.vertical li a{display:block}
.menu.vertical ul{top:0;left:100%}
.menu.vertical li.has-menu span.arrow{margin-top:-4px} 
.menu.vertical.right{text-align:left}
.menu.vertical.right ul{top:0;right:100%;left:auto}
.menu.vertical.right li a{padding-left:25px;padding-right:20px}
.menu.vertical.right li.has-menu span.arrow{right:auto;left:5px;margin-top:-4px} 
.menu{border:1px solid #ccc;text-shadow:0px 1px 1px #fff;background:#eee;       z-index:600}
.menu li{}.menu li a{padding:15px 20px;text-decoration:none;font-size:0.9em;color:#777}
.menu li.current>a,.menu li.current>a:hover,.menu li.current.hover>a{        color:#fff;text-shadow:0px -1px 0px rgba(0,0,0,0.2)}
.menu li a:hover,.menu li.hover>a{ } .menu ul{background:#efefef;border:1px solid #ccc}
.menu ul li{}.menu ul li a{} .menu ul ul{}.menu ul ul li{}.menu ul ul li a{} 
.menu li.has-menu span.arrow{border-color-top:#ccc;border-color:#ccc transparent transparent transparent} 
.menu li li.has-menu span.arrow,.menu.vertical li.has-menu span.arrow{ border-color-left:#ccc;border-color:transparent transparent transparent #ccc} 
.menu.vertical.right li.has-menu span.arrow{border-color-right:#ccc;border-color:transparent #ccc transparent transparent} 
.menu ul li.divider{border-top:1px solid #ccc}.menu ul li.divider a{border-top:1px solid #fff} 
.menu .icon{margin:-10px 7px -10px -5px;vertical-align:middle}.menu ul .icon{margin-left:-10px}


table { 
    margin-top:6px;
    border-collapse:collapse; 
}
th, td { 
    padding:0px 6px; 
}
thead th, th { 
    color:#888;
    font-size:16px;
    padding:12px 6px 4px 6px;
    border-bottom:1px solid #aaa; 
}




/***********************************************************/



/*** ESTRUCTURA ***/
body {
	min-width:800px;
	max-width:1600px;
    cursor:default;
    line-height: 1.2;
	color: #111;
	font-size:15px;
	font-family: "Arial", "Helvetica", sans-serif;
}
#content-left { 
	position:absolute;
	left:0px;
	top:0px;
	width:180px;
}
#menu-next {
	height:550px;
	border-right:1px solid #CCC;
	padding:4px 5px 10px 8px;
	background:#F9F9F9;
	box-shadow:inset -3px 11px 20px #EEE;
}

#content-right {
	background:#EEE;
	position:absolute;
	left:180px;
	right:0;
	top:0px;
}

#header {
	height:61px;
	border-bottom:1px solid #CCC;
	/*box-shadow:inset -6px -6px 15px #F5F5F5;*/
}
#header-logo {
	position:absolute;
	top:6px;
	left:5px;
}
#header-logo-p { position:absolute; top:15px; left:100px; white-space:nowrap; }
#header-right {
	position:absolute;
	top:3px;
	right:10px;
}
#header-breadcrumbs {
	position:absolute;
	left:-2px;
	top:53px;
}
#header-tab {
	position:absolute;
	top:56px;
	right:5px;
}

#content {
	padding:0 10px 5px 20px;
	min-height:540px;
}

#footer {
	/*min-height:200px;*/
	/*margin:0 0 0 -200px;*/
	padding:18px;
	border-top:1px solid #CCC;
	box-shadow:inset 0px 10px 20px #EEE;
	background:#F9F9F9;
}
#footer-left {
	margin-right:300px;
    max-width:600px;
    font-size: 16px;
}
#footer-right {
    text-align:center;
	position:absolute;
	right:20px;
}




/*** GENERAL ***/
a, a:link, a:active { color:#0066cc; text-decoration:none; }
a:hover { text-decoration:underline; }




h1 { font-size:28px; }
h2 { font-size:22px; }
h3 { font-size:18px; }

.htxt {
	padding:0 4px 1px 4px;
	color:#AAA;
	font-size:18px;
	white-space:nowrap;
	text-shadow:1px 1px 1px #FFF;
	background-color:#FFF;
	opacity: 0.9;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0px 0px 15px #FFF;
}
.htxt:hover { opacity: 1; }


/*** MENU ***/
.menu li {
	white-space:nowrap;
	font-size: 21px;
}
.menu li a { padding: 10px 0 10px 20px; }
.menu ul { max-width:500px; box-shadow: 6px 6px 15px #888; }
.menu li ul li { min-width:200px; }
.menu li ul { margin-top:-40px; }
.menu li ul li ul { margin-top:0; }

#menu-comu.hover, #menu-comu .hover, #menu-comu.menu-sel { box-shadow:inset 8px 0 0 #FF6262; }
#menu-info.hover, #menu-info .hover, #menu-info.menu-sel { box-shadow:inset 8px 0 0 #00DF00; }
#menu-demo.hover, #menu-demo .hover, #menu-demo.menu-sel { box-shadow:inset 8px 0 0 #66BEFF; }
#menu-econ.hover, #menu-econ .hover, #menu-econ.menu-sel { box-shadow:inset 8px 0 0 #DA7777; }
#menu-noti.hover, #menu-noti .hover { box-shadow:inset 8px 0 0 #FFFF51; }


#menu-noti ul li a { color:#CCC; overflow:hidden; }
#menu-noti ul li a.noti-nuevo { color:red; }

#menu-noti.menu-sel {
	text-shadow: 1px 1px 6px #FFF;
	background:url('ico/noti_alert.png'); 
}
#menu-noti.menu-sel .md { right:20px; font-size:22px; font-weight:bold; }
.md {
	color:#AAA;
	font-size:18px;
	position:absolute;
	right:8px;
}




/*** TTABS ***/
ul.ttabs{
	margin:10px 0 -1px 0;
	padding:0;
	width:100%;
	float:left;
	height:33px;
}
ul.ttabs.left{text-align:left;}
ul.ttabs.center{text-align:center;}
ul.ttabs.right{text-align:right;}
ul.ttabs li{
	list-style-type:none;
	margin:0 2px 0 0;
	padding:0;
	display:inline-block;
	*display:inline;/*IE ONLY*/
	position:relative;
	top:0;
	left:0;
	*top:1px;/*IE 7 ONLY*/
	zoom:1;
}	
ul.ttabs li a{
	text-decoration:none;
	color:#666;
	display:inline-block;
	padding:9px 15px;
	position: relative;
	top:0;
	left:0;
	line-height:100%;
	background:#f5f5f5;
	box-shadow: inset 0px -3px 3px rgba(0,0,0,0.03);
	border:1px solid #e5e5e5;
	border-bottom:0;
	font-size:0.9em;
	zoom:1;
	border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px;
	border-top-right-radius:10px; -moz-border-radius-topright:10px; -webkit-border-top-right-radius:10px;
}
ul.ttabs li a:hover{
	background:#fff;
}
ul.ttabs li.current a{
	position:relative;
	top:1px;
	left:0;
	background:#eee;
	box-shadow: none;
	color:#222;
}
.breadcrumbs li { background:#FFF; }
.breadcrumbs .last { font-weight:bold; }
ul.breadcrumbs.alt1 li a { border-bottom:1px solid #CCC; }



#vpc_actividad { cursor:pointer; }



.code {
	background-color:#000;
	color: #5F5;
	font-family:monospace;
}

