<?php # BMP — Javier González González


define('DEV', false);

define('URL_SQL', 'mysql://root@localhost:3306/bmp');

define('URL_RPC_BTC', 'rpc://user:pass@host:port');
define('URL_RPC_BCH', 'rpc://user:pass@host:port');
define('URL_RPC_BSV', 'rpc://user:pass@host:port');

define('BLOCKCHAINS', ['BCH']);