<?php # BMP — Javier González González


define('DEV', false);

define('URL_SQL', 'mysql://user:pass@localhost:3306/database');

define('URL_RPC_BTC', 'rpc://user:pass@localhost:port');
define('URL_RPC_BCH', 'rpc://user:pass@localhost:port');
define('URL_RPC_BSV', 'rpc://user:pass@localhost:port');

